/* Banner Head Starts */
.banner{
    display: flex;
}
#top-banner-text{
    width: 50%;
}
#top-banner-text h1{
    line-height: 1em;
    border-left: 3px solid;
    border-image-source : linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 27%, rgba(0,212,255,1) 100%);
    border-image-slice : 1;
    height: 70px;
    padding-left: 7px;
    
}
#top-banner-image{
    width: 50%;
    padding-left: 100px;
    
    
}
#top-banner-image img{
    width: 100%;
    height: 400px;
    
    
}
/* Mission/Vision/Goal Starts*/
.my-mission{ 
    display: flex;
    justify-content: space-between;
}

.mission {
    width: 32%;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.vision {
    width: 32%;
    background-color: #04cefc38;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}
.goals {
    width: 32%;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}
.mission img{
    width: 100%;
    height: 120px;
}
.vision img {
    width: 100%;
    height: 120px;
}
.goals img{
    width: 100%;
    height: 120px;
}
/* Develop Starts*/
.develop {
    display: flex;
}
.develop img{
    width: 80%;
    height: 250px;
}
.develop-image{
    width: 35%;
}
.develop-text{
    
    width: 65%;
    border-left-width: 3px;
    border-left-style: solid;
    padding-left: 10px;
    border-image: linear-gradient(
        to bottom, 
        red, 
        rgba(0, 0, 0, 0)) 1 100%;
}
/* Community Starts*/
.community {
    display: flex;
}
.community img{
    width: 100%;
    height: 250px;
}
.community-image{
    width: 35%;
    padding-left: 80px;
    
}
.community-text{
    padding-right:10px; 
    width: 65%;
    border-right-width: 3px;
    border-right-style: solid;
    border-image: linear-gradient(
        to bottom, 
        red, 
        rgba(0, 0, 0, 0)) 1 100%;
}
/* Skills Starts*/
.skills {
    display: flex;
}
.skills img{
    width: 90%;
    height: 250px;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    border-radius: 5px;
}
.skills-image{
    width: 35%;
}
.skills-text{
    
    width: 65%;
    border-width: 3px;
    border-style: solid;
    padding-left: 10px;
    border-image: linear-gradient(
        to bottom, 
        red, 
        rgba(0, 0, 0, 0)) 1 100%;
}
.skill-set {
    width: 90%; 
    background-color: #ddd; 
    border: 1px solid purple;
    border-radius: 10px;
}
.skills-item {
    text-align: right; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    color: white; 
}
.html-css {
    width: 90%; 
    background: rgb(113,54,171);
    background: linear-gradient(90deg, rgba(113,54,171,1) 35%, rgba(0,212,255,1) 100%);    
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

} 
.react {
    width: 80%; 
    background: rgb(113,54,171);
    background: linear-gradient(90deg, rgba(113,54,171,1) 35%, rgba(0,212,255,1) 100%);    
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
} 
.nodejs {
    width: 65%; 
    background: rgb(113,54,171);
    background: linear-gradient(90deg, rgba(113,54,171,1) 35%, rgba(0,212,255,1) 100%);    
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
} 

/*Footer Starts */
.footer{
    text-align: center;
    background: rgb(113,54,171);
    background: linear-gradient(90deg, rgba(113,54,171,1) 35%, rgba(0,212,255,1) 100%);
    color: #fff;
    line-height: 1em;
}
