.container{ padding: 40px 40px 20px}
.heading-text { color: #7136ab	;}
.block { display: block;}
.mt-20 {margin-top: 20px;}
.mb-20 { margin-bottom: 20px;}
.pt-50 {padding-top: 50px;}
.mt-50 { margin-top: 50px;}
.center-text { text-align: center;}
h1, h2 { font-family: 'Yeseva One', cursive;}
a { text-decoration: none; color: #23c77c}
.btn {
    background: rgb(113,54,171);
    background: linear-gradient(90deg, rgba(113,54,171,1) 35%, rgba(0,212,255,1) 100%);    
    color: #fff;
    padding: 10px 15px 10px;
    border: 0px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    

}
hr.style {
    margin-top: 40px;
    border: 0;
    height: 2px;
    background-image: linear-gradient( to right, rgb(135 20 20 / 0%), rgb(150 26 165 / 75%), rgb(0 0 0 / 0%) );
    }
    
    
    
    
    